@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --background-color: hsl(216, 12%, 8%);
  --color-primary: hsl(25, 97%, 53%);
  --color-secondary: hsl(213, 19%, 18%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(217, 12%, 63%);
  --text-accent: hsl(216, 12%, 54%);
  --border-radius: 15px;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-primary);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  background-color: var(--color-secondary);
  border-radius: var(--border-radius);
  padding: 1.5em;
}

.rating-star {
  background-color: var(--background-color);
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-bottom: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-state .statement {
  font-size: var(--border-radius);
  color: var(--text-accent);
  margin: 1em 0 1.5em 0;
  line-height: 1.4em;
}

.rates ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.3em;
}

.rates ul li {
  list-style: none;
  background-color: var(--background-color);
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}
