@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");

:root {
  --background-color: hsl(216, 12%, 8%);
  --color-primary: hsl(25, 97%, 53%);
  --color-secondary: hsl(213, 19%, 18%);
  --text-primary: hsl(0, 0%, 100%);
  --text-secondary: hsl(217, 12%, 63%);
  --text-accent: hsl(216, 12%, 54%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Overpass", sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-primary);
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
